<div id="container_topcontent">
 <img src="images/reservations/titlebar_reservationform.gif" />
 <div id="container_topcontent_bg"><div id="spacer_5px"></div><br /><br />
 <div id="container_content_small">
 <table cellspacing="10"><tr>
   <td align="center">

	<span class="lrg_grey">Thank You</span><br/>
	<span class="med_pink">
	Thanks for requesting a reservation! A VIP Host will contact you soon to confirm your reservation.
	</span>
	
 </td></tr></table>
 </div>
 <div id="spacer_450px"></div>
</div>
