 <div id="container_topcontent">
 <img src="images/newslettersignup/titlebar_newsletter.gif" />
 <div id="container_topcontent_bg"><div id="spacer_5px"></div><br /><br />
 <div id="container_content_small">
 <table cellspacing="10"><tr>
   <td align="center">

	<span class="lrg_grey">Thank You</span><br/>
	<span class="med_pink">
	You are now signed up for our weekly mailing list.
	</span>
	
 </td></tr></table>
 </div>
 <div id="spacer_450px"></div>
</div>
