 <div id="container_topcontent">
	<% case params[:type]
	  when 'reservation': %>
		<img src="images/reservations/titlebar_reservationform.gif" />
	<% when 'guestlist': %>
		<img src="images/guestlist/titlebar_guestlistform.gif" />
	<% end %>
 <div id="container_topcontent_bg"><div id="spacer_5px"></div><br /><br />
 <div id="container_content_small">
 <table cellspacing="10"><tr>
   <td align="center">

	<span class="lrg_grey">Thank You</span><br/>
	<span class="med_pink">
	<% case params[:type]
		when 'reservation': %>
	Thanks for requesting a reservation! A VIP Host will contact you soon to confirm your reservation.
	<% when 'guestlist': %>
	You are now signed up for the guest list.
	<% when 'mailing_list': %>
	You are now signed up for our weekly mailing list.
	<% end %>
	</span>
	
 </td></tr></table>
 </div>
 <div id="spacer_450px"></div>
</div>
